# Nonaktifkan atau hapus bagian ini
# <IfModule authz_core_module>
#     Require all denied
# </IfModule>
# <IfModule !authz_core_module>
#     Deny from all
# </IfModule>

# Aktifkan mod_rewrite untuk routing
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika file atau folder yang diminta tidak ada, arahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>